---
layout: default
title: About	
section_id: about
members:
  - image: alexwithstick-208-208.png
    name: Alex Simpson
    position: Car guy &amp; Hobby welder
    desc:
    socials:
      - name: facebook
        link: "https://www.facebook.com/ajsimpson69"
        color: yellow
      - name: mail
        link: "mailto:Alex@littlekiwibus.com?Subject=Littlekiwibus%20Contact"
        color: yellow
  - image: bridgetarmsup208-208.png
    name: Bridget Porter
    position: Urban Hippie &amp; Aspiring Woodworker
    desc:
      
    socials:
      - name: facebook
        link: https://www.facebook.com/bridget.porter2
        color: yellow
      - name: mail
        link: "mailto:Bridget@littlekiwibus.com?Subject=Littlekiwibus%20Contact"
        color: yellow
---
<div class='special-title centered-text' style="padding: 30px">
    <img src='{{site.url}}/images/LittleKiwiBus_Logo_4.png' style='max-width:100%;'></img>
      <div class='spacing'></div>
    </div>
<div class=''>
  <div class='row' style="max-width:991px;margin:auto;">
    <div style="padding:30px">
      <p>
        <span class='drop-letters'>We</span> are Bridget and Alex, from Wales and New Zealand, and we have decided to build ourselves a house bus. Alex is a professional rugby player turned computer nerd, and I don't really know what I am yet - I'm still figuring that out. But neither of us are builders, that's for sure. Or welders. Or mechanics. Or interior designers. But we are both very practical, creative thinkers, and extremely keen to learn.
We plan to spend the next couple of years up skilling (considerably), and saving as much money as we possibly can. After that will come the bus itself. We plan to import an American school bus to New Zealand, raise the roof, and build our dream home inside.
The amount we don't know about school bus conversions is infinitely greater than the amount we do know at this point, so any advice is more than welcome. If you have done or are doing something similar, we'd love to hear from you.

Otherwise, stick around to follow our exciting journey!
</p>
</div>
</div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-6 large-6 columns' >
          <div class='member centered-text {{active_class}} '>
            <img src='{{site.url}}/images/{{member.image}}'  class=''>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='three spacing'></div>
    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>
