---
layout: default
title: About	
section_id: about
members:
  - image: alexwithstick-208-208.png
    name: Alex Simpson
    position: Car guy &amp; Hobby welder
    desc: "Alex is a Jack of all trades (apart from cleaning) but what he loves to do the most is fix things. Cars, computers, doors, you name it. He loves stumbling across problems, so that he can come up with a clever and creative way to combat them. He has a deep voice and a big heart. Alex has worked his tooshie off over the last few years to put himself in a position where he can work remotely from the bus, and in doing so he accidentally reached the top of his game. Luckily, his game is computers — an ever changing world that requires constant upskilling to stay at the top, so there’s no danger of him getting complacent any time soon."
    socials:
      - name: facebook
        link: "https://www.facebook.com/ajsimpson69"
        color: yellow
      - name: mail
        link: "mailto:Alex@littlekiwibus.com?Subject=Littlekiwibus%20Contact"
        color: yellow
  - image: bridgetarmsup208-208.png
    name: Bridget Porter
    position: Urban Hippie &amp; Aspiring Woodworker
    desc: "Warm, witty, with a heart of gold, Bridget’s main goal in life is to gently infuse joy into as many lives as possible. She sees the good in everyone and everyone sees the good in her. She’s happiest and most at ease when surrounded by nature. An ideal day for Bridget would consist of some painting, a scenic hike (obviously including some mid-hike yoga), a twiddle on her guitar, a little boogie, copious amount of Mexican food, and a bit of Alex. But only a bit."
      
    socials:
      - name: facebook
        link: https://www.facebook.com/bridget.porter2
        color: yellow
      - name: mail
        link: "mailto:Bridget@littlekiwibus.com?Subject=Littlekiwibus%20Contact"
        color: yellow
---
<div class='special-title centered-text' style="padding: 30px">
    <img src='{{site.url}}/images/LKB_logo_400-400-flipped.png' style='max-width:100%;'></img>
      <div class='spacing'></div>
    </div>
<div class=''>
  <div class='row' style="max-width:991px;margin:auto;">
    <div style="padding:30px">
      <p>
        <p>
          <span class='drop-letters'>We</span> are Bridget and Alex, from Wales and New Zealand.
          One day, a couple of years ago, Alex turned to me and asked me if I would ever consider living in a bus. I didn't think about it and I didn't need to. It was a hell yes from me. From that very moment, we have been heavily manifesting this crazy idea, slowly but surely preparing for the move from chaotic yet monotonous city living, to a much simpler and more sustainable way of life. We have up-skilled (considerably), meanwhile living on a rather tight budget to save as much money as physically possible. It might sound excessive, but this is our future we're building; we want to give it our very best shot.
        </p>
        <p>
          Alex is a professional rugby player turned computer nerd, and I'm... well I'm still figuring that out. Neither of us are builders, that's for sure. Or engineers. Or mechanics. Or interior designers. But we are both very practical, creative thinkers, and extremely keen to learn.
        </p>
        <p>
          Our 2019 plan is to quit our jobs, leave our lovely home and our easy lives, and migrate across the Tasman Sea to New Zealand's South Island, where our [t]rusty Ford R1114 awaits. There we will build our home on wheels, and then... we slow down, and New Zealand becomes our oyster.
        </p>
        <p>
          We are so thrilled to be working on such an exciting project. To be in a position where we can focus all our time and energy into what is most important to us is a dream come true.
        </p>
        <p>
          Stick around to follow this crazy journey of ours. Who knows where it might take us.
        </p>
</p>
</div>
</div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-6 large-6 columns' >
          <div class='member centered-text {{active_class}} '>
            <img src='{{site.url}}/images/{{member.image}}'  class=''>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
      <div class='spacing'></div>
      <a class='button' href='{{site.url}}/blog' style="margin:auto;display:block;width:200px">Visit our blog</a>
  </div>
</div>
