---
layout: default
title: Home
section_id: home
works1:
  - image: bridget-sealing-400-260.jpg
    title: Bridget sealing up our storage!
  - image: making-a-metal-brake-400-260.jpg
    title: Building a metal brake!
  - image: welding-and-grinding-400-260.jpg
    title: Repairing rust!
  - image: alex-under-the-bus-400-260.jpg
    title: Alex measuring under the bus!

works2:
  - image: bus_progression_1-400-260.png
    title: Our Bus!
#    category: Design &amp; Development
  - image: bus_progression_2-400-260.png
    title: All stripped down!
#    category: Design &amp; Development
  - image: bus_progression_3-400-260.png
    title: We cut the roof off!
#    category: Design &amp; Development
  - image: bus_progression_4-400-260.png
    title: What she looks like today!
#    category: Design &amp; Development

---
<div class='special-title centered-text' style="padding: 10px">
  <img src='{{site.url}}/images/LKB_logo_400-400-flipped.png' style='max-width:100%;'></img>
</div>
<div class=''>
  <div style="padding:30px;text-align:center;font-size:21px">
    Follow a little welsh girl and a considerably larger kiwi fella finding their way through the build of their lives.
  </div>
  <div class='spacing'>
  </div>
  <ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
    {% for work in page.works2 %}
      <li>
        <a>
          <img src='{{site.url}}/images/{{ work.image }}'>
          <div class='overlay'>
            <div class='thumb-info'>
              <h3>{{ work.title }}</h3>
              <p>{{ work.category }}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class='three spacing'></div>

<a class='button' href='{{site.url}}/about.html' style="margin:auto;display:block;width:200px">About Us</a>
<br>
<a class='button' href='{{site.url}}/blog' style="margin:auto;display:block;width:200px">Blog</a>
<br>
<a class='button' href='https://instagram.com/littlekiwibus/' style="margin:auto;display:block;width:200px">Instagram</a>
<br>
<a class='button' href='https://facebook.com/littlekiwibus/' style="margin:auto;display:block;width:200px">FaceBook</a>

<div class='three spacing'></div>

<ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
  {% for work in page.works1 %}
    <li>
      <a>
        <img src='{{site.url}}/images/{{ work.image }}'>
        <div class='overlay'>
          <div class='thumb-info'>
            <h3>{{ work.title }}</h3>
            <p>{{ work.category }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>