<div class='full2'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>We welcome any form of communication; advice on woodwork, metalwork, bus conversion or even exporting american buses.</br> Drop us a line below!</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <!--hidden sent mail alert after sending-->
  <div id='msgsentbox' class='full dark-grey hidden'> 
  </div>
  <br>
  <form class='form' method="POST" action="http://formspree.io/info@littlekiwibus.com">
    <div class='row'>
      <div class='medium-6 large-6'>
        <input name= 'name' placeholder='NAME' type='text'>
        <input name='email' placeholder='EMAIL' type='text'>
        <input type="hidden" name="_next" value="https://formspree.io/thanks" />
		<input type="text" name="_gotcha" style="display:none" />
      </div>
      <div class='medium-12 large-12'>
        <textarea name='message' placeholder='MESSAGE'></textarea>
        <input class='button boxed wb' type='submit'> <!-- onclick="this.parentElement.parentElement.parentElement.style.display='none'">-->
      </div>
    </div>
  </form>
</div>

