---
layout: default
---
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101346856-1', 'auto');
  ga('send', 'pageview');

</script>

<div class='special-title centered-text' style="padding: 30px">
    <img src='{{site.url}}/images/LittleKiwiBus_Logo_4.png' style='max-width:100%;'></img>
      <div class='spacing'></div>
    </div>

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      
      <h2>Our Blog</h2>
      <p>Come and follow our 'little' journey!</p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class=''>

      {{ content }}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog" class="older">Older Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% else %}
            <span class="older">Older Entries</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="newer">Newer Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% else %}
            <span class="newer">Newer Entries</span>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
