<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
      <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>

      <script src='{{ site.url }}/js/modernizr.js'></script>

    </head>
    <body>
      <div class="full centerButtons">
            <ul class="center1">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "color: #9ccc66" %}
                {% else %}
                  {% assign active_class = "color: #646569" %}
                {% endif %}
                  <li  style="display: inline-block;
    width: 100px;">
                    <a href="{{site.url}}/{{ item.path }}" style="{{ active_class }}">{{ item.name }}</a>
                  </li>
                
              {% endfor %}
            </ul>
      </div>


      {{ content }}


      <div class='footer centered-text'>
       <!-- <div class='spacing'></div>-->
        <div class='row'>
          <div class='large-12 columns'></div>
          <h2 class='dark'>
            <!--<br>
            <div class='spacing'></div>-->
            {{ site.name }}
          </h1>
          <div class='socials centered-text'>
            <a href='https://instagram.com/littlekiwibus/'>
              <i class='icon-instagram grey'></i>
            </a>
            <a href='https://au.pinterest.com/alexs0765/'>
              <i class='icon-pinterest grey'></i>
            </a>
           </div>
          <!--<p class='copyright' >Copyright 2013 Squarebox</p>-->
        </div>
      </div>

      <script src='{{ site.url }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
    </body>
</html>
